/* midoriJCH 16/09/2024 */

body {
    margin: 0;
    text-align: center;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-size: 30px;
}

h4 {
    font-weight: 300;
    font-size: 25px;
}

/*hero*/
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/Leeds-City-Centre.webp");
    background-size: cover;
    color: #f1faee;
    padding: 35px 0 170px 0px;
}

#leeds {
    background: #1d3557;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 150px 20px 20px 0px;
}

#yorkshire {
    background: #457b9d;
    padding: 20px 100px;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    max-width: 412px;
    max-height: 52px;
}
/*mid section*/
#middle-section-title {
    padding: 50px 0 50px 0;
    background: #f1faee;
    text-align: center;
    font-size: 35px;
    color: #1d3557;
    margin: 0;
}

#middle-section {
    background: #f1faee;
    display: flex;
    justify-content: center;
    color: #1d3557;
    font-weight: 400;
    padding-bottom: 50px;
}

.place-img {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1faee;
    max-width: 300px;
    padding: 20px;
}

#place-img-1 {
    align-items: start;
}

#place-img-2 {
    align-items: center;
}

#place-img-3 {
    align-items: end;
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/*bottom-section*/

#bottom-section {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    font-weight: 400;
}

.logo {
    border: 0;
    border-radius: 0px;
    padding-right: 20px;
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.card {
    max-width: 570px;
    max-height: 294px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #a8dadc;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1d3557;
    border-bottom: 5px solid black;
    border-radius: 10px;

}

.card-text {
    padding-top: 30px;
}

